.container{
background-color:var(--secondary-shade-400);
color:#000;
border-radius:30px;
box-shadow: 10px 5px 5px rgba(1, 3, 15, 0.16);
padding:2rem;
line-height: 2;
}
.center{
    text-align: center;
    padding:30px;
}
.user{
    display:flex;
    justify-content: flex-end;
}
.borderBottom{
    border-bottom: 2px solid #000;
}
.todoList{
    max-width: 1100px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    gap:1em;
    padding:1rem;
    justify-content: space-around;
}
.todoListChildren{
 flex:1;
  
}

